:root {
  --bg: #faf0ee;
  --red: #f61313;
  --darkTxt: #2E384D;
  --lightTxt: #faf0ee;
  --powderRed: #f8a6a188;
  --powderRedMuted: #f8a6a133;
}
* {
  margin: 0;
  padding: 0;
}
html{
  scrollbar-width: none;
}
body {
  padding: 0rem 2.5rem;
  font-family: sans-serif;
  background: #f8f8f8;
  color: var(--red);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header{
  user-select: none;
}
header:hover a.spotify{
  color: #c62c2c;
}
header:hover .occupation span{
  user-select: none;
  cursor: pointer;
  color: var(--darkTxt);
}
header:hover .occupation{
  color: var(--red);
}
header {
  font-family: monospace;
  display: grid;
  margin: 1.8rem .44rem;
}
a {
  cursor: pointer;
}
header a,
a, a:visited {
  color: var(--red);
  text-decoration: none;
}
.header{
  display: flex;
  justify-content: space-between;
}
.social{
  display: none;
  flex-direction: row;
}
.socials img{
  display: none;
  width: 50px;
  height: auto;
  border: 1px solid rgba(0,0,0,.01);
  border-radius: 50px;
}
.social a img{
  width: 50px;
}
h1 {
  margin-top: -2px;
  font-size: 0.925rem;
  color: var(--darkTxt);
}
.occupation {
  word-spacing: -4px;
  margin-bottom: 3px;
  color: #c62c2c;
}
.occupation span{
  color: var(--darkTxt);
}
/*  */
/*  */
#wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  word-spacing: -1px;
  letter-spacing: 0px;
}
h2 {
  margin-bottom: 0.5rem;
  /* color: var(--red); */
  color: #c62c2c;
}
.info p {
  color: var(--darkTxt);
  margin-top: 12px;
  letter-spacing: -5px;
}
img:not(#github, #spotify) {
  display: none;
  visibility: hidden;
  /* display: block; */
  max-width: 346px;
  width: 100%;
}
/* For articles without an image/alt field in data.js */
img[src="null"],
img[src="#"] {
  display: none;
  visibility: hidden;
}


a.repo h3{
  display: none;
}
/*  */
/*  */
/*  */
@media (min-width: 430px) and (max-width: 679px) {
  #wrapper {
    display: block;
    -moz-column-count: 2;
    column-count: 2;
    gap: 2rem;
    padding: 0;
  }
  h2 {
    margin-top: 10px;
  }
}

/*  */
/*  */
@media (min-width: 680px) {
  header {
    margin-bottom: 1.5rem;
  }
  #wrapper {
    display: block;
    -moz-column-count: 3;
    column-count: 3;
    gap: 2rem;
    padding: 0;
  }
  .item {
    padding-bottom: 0.75rem;
  }
}

@media(min-width: 1066px){
  body{
    margin-left: -15px;
  }
  .container {
    max-width: 1532px;
    margin: 0 auto;
  }
}

.blog-link{
  display: block;
  margin-top: 50px;
}